In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('millisecond.csv')
data = data[450:111508][['TIME_M', 'SIZE', 'PRICE']]
data.index = np.arange(len(data))
new_time = []
for i in range(len(data)):
    new_time.append("2019-06-28 " + data['TIME_M'][i][:-3].rjust(5, '0') + ":00")
data['TIME_M'] = new_time
data.tail(10)

                     TIME_M  SIZE   PRICE
111048  2019-06-28 15:59:00   200  111.77
111049  2019-06-28 15:59:00   600  111.77
111050  2019-06-28 15:59:00   600  111.77
111051  2019-06-28 15:59:00   400  111.77
111052  2019-06-28 15:59:00   200  111.77
111053  2019-06-28 15:59:00   100  111.77
111054  2019-06-28 15:59:00   100  111.77
111055  2019-06-28 15:59:00   200  111.77
111056  2019-06-28 15:59:00    50  111.78
111057  2019-06-28 15:59:00    50  111.78

In [3]:
group_obj = data.groupby('TIME_M')
open_price = group_obj.first()['PRICE']
close_price = group_obj.last()['PRICE']
high_price = group_obj.max()['PRICE']
low_price = group_obj.min()['PRICE']
volumn = group_obj.sum()['SIZE']
OHLC = pd.DataFrame({'SYMBOL': 'JPM', 'level_1': open_price.index, 'open': open_price, 'high': high_price, 'low': low_price, 'close': close_price, 'volume': volumn})
OHLC.set_index(['SYMBOL', 'level_1'], inplace = True)
OHLC = OHLC.round(2)
OHLC.head()

                              open    high     low   close  volume
SYMBOL level_1
JPM    2019-06-28 09:30:00  111.04  111.40  111.03  111.36  359261
       2019-06-28 09:31:00  111.38  111.59  111.05  111.56  235907
       2019-06-28 09:32:00  111.54  111.74  111.37  111.74  167381
       2019-06-28 09:33:00  111.72  111.98  111.05  111.81  196814
       2019-06-28 09:34:00  111.80  111.88  111.66  111.68  212801

In [4]:
OHLC.to_pickle("20190628_ohlc_1m.bz2", compression="bz2")